<mat-toolbar class="toolbar">
  <h1 style="color:#ebf465">JEOPARDY!</h1>
</mat-toolbar>

<div class="main-container" *ngIf="tiles">

  <mat-grid-list cols="3" [gutterSize]='5' rowHeight="3rem">
    <mat-grid-tile *ngFor="let tile of tiles; let i = index;" [colspan]="tile.cols" [rowspan]="tile.rows"
      [style.background]="tile.color" [class]="{'grid-tile': !tile.answered}"
      [style.color]="!tile.answered ? tile.textColor: '#8888'" (click)="openDialog(i)">
      <h1>
        <b>
          {{tile.tileTitle}}
        </b>
      </h1>
    </mat-grid-tile>
  </mat-grid-list>
</div>