.grid-tile {
    cursor: pointer;
}

.grid-tile:hover {
    box-shadow: 20px 20px 20px #8888;
    border-style: ridge;
}

.toolbar {
    background-color: #0c06a4;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 10px #8888;
    border:inset #8888;
}

.main-container {
    margin: 3rem 1rem 1rem 1rem;
    max-height:100vh;
    max-width:100vw
}
